<!doctype html>
<html lang="en" ng-app="Shale">
  <head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/controllers.js"></script>  
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>



    <div class="main" ng-controller="MyController">
      <section id="content">
        <div class="row text-center">
        <h1>Main heading</h1>
        </div>
        <div class="row">
            <button type="button" class="btn btn-info pull-left p-10 m-10" ng-disabled="currentPage == 0" ng-click="prevPage()">Prev</button>
            <button type="button" class="btn btn-info pull-right p-10 m-10" ng-disabled="currentPage >= totalPages-1" ng-click="nextPage()">Next</button>
        </div>

          <div class="col-sm-4" ng-repeat="item in articles | startFrom : currentPage*pageSize | limitTo:pageSize">
              <!-- Article Posts -->
              <div class="card blog-post">
                  <div class="bp-header">
                      <img src="images/{{item.image}}" alt="">
                          
                      <a href="" class="bp-title">
                          <h2>{{item.title}}</h2>
                          <small>{{item.author}}</small>
                      </a>
                  </div>    
                  <div class="p-20">
                      {{item.description}}
                  </div>
              </div>
          </div>
      </section>
    </div>
  </body>
</html>